/* Left (Default) */

.zen-glance-sidebar-container {
	outline: 2px solid red !important;
}

:root:has(#theme-glancecontrol[theme-glancecontrol-position="left"]) {
	.zen-glance-sidebar-container {
		left: unset !important;
		right: 100% !important;
	}
}

/* Right */
:root:has(#theme-glancecontrol[theme-glancecontrol-position="right"]) {
	.zen-glance-sidebar-container {
		left: 100% !important;
		right: unset !important;
	}
}
